* {
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
    touch-action: manipulation;
}

body {
    background-color: #379683;

    display: grid;

    grid-template-areas:
    "head head head"
    "main main main"
    "foot foot foot";
}

header {
    grid-area: head;
    display: flex;
    justify-content: center;
}

main {
    height: 70vh;
    border: 3px solid #907163;
    grid-area: main;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);

    grid-template-areas:
    "lsbar mid rsbar";

    overflow: auto;
}

footer {
    grid-area: foot;
    display: grid;
    justify-content: center;
}

button {
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

#new-row {
    background-color: #5CDB95;
    font-size: 15px;
    height: 70px;
    width: 70px;
}

#reset-page {
    background-color: #E34234;
    font-size: 13px;
    height: 70px;
    width: 70px;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;
    border-bottom: 3px solid #907163;
}

#left-sidebar {
    grid-area: lsbar;
}

#middle {
    grid-area: mid;
    margin: 0px;
}

#right-sidebar {
    grid-area: rsbar;
}

::-webkit-calendar-picker-indicator {
    cursor: pointer;
    margin-left: -20px;
    padding: 0;
    background-color: #EDC7B7;
}

.date {
    cursor: pointer;
    margin-right: 10px;
    background-color: #379683;
    color: white;
    height: 75%;
    font-size: 15px;
    border-radius: 5px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.date:hover {
    background-color: rgb(97, 213, 218);
    color: black;
}

.minus {
    height: 15px;
    width: 8px;
    margin-right: 10px;
}

.plus {
    height: 15px;
    width: 8px;
    margin-right: 10px;
}

.copy-row-info {
    cursor: copy;
    font-size: 16px;
    border-radius: 10px;
    margin-right: 10px;
    padding: 1px;
}

.copy-row-info:hover {
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.rowM {
    overflow: auto;
}

input[type=checkbox] {
    cursor: pointer;
}
