/** Breakpoint 1 **/
@media only screen and (min-width: 321px) and (max-width: 920px) {
    body {
        display: grid;

        grid-template-areas:
        "head head head"
        "main main main"
        "foot foot foot";
    }

    header {
        grid-area: head;
        display: flex;
        justify-content: center;
    }

    main {
        height: 70vh;
        grid-area: main;

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);

        grid-template-areas:
        "lsbar lsbar mid rsbar";

        overflow: auto;
    }

    footer {
        grid-area: foot;
        display: grid;
        justify-content: center;
    }

    #left-sidebar {
        grid-area: lsbar;
    }

    #middle {
        grid-area: mid;
        margin: 0px;
    }

    #right-sidebar {
        grid-area: rsbar;
    }

    .remove-row {
        font-size: 13px;
        border-radius: 10px;
        margin: 0px 5px;
        padding: 1px;
    }

    .remove-row:hover {
        box-shadow: 0px 0px 5px rgb(0, 0, 0);
    }

    ::-webkit-calendar-picker-indicator {
        margin-left: -20px;
        padding: 0;
    }

    .date {
        margin-right: 5px;
        height: 75%;
        font-size: 15px;
        border-radius: 5px;
    }

    .minus {
        font-size: 10px;
        height: 15px;
        width: 5px;
        margin-right: 3px;
    }

    .plus {
        font-size: 10px;
        height: 15px;
        width: 5px;
        margin-right: 3px;
    }

    .rowM {
        overflow: auto;
    }
}

/** Breakpoint 2 **/
@media only screen and (max-width: 320px) {
    body {
        display: grid;

        grid-template-areas:
        "head head head"
        "main main main"
        "foot foot foot";
    }

    header {
        grid-area: head;
        display: flex;
        justify-content: center;
    }

    main {
        grid-area: main;

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        grid-template-areas:
        "lsbar lsbar mid rsbar";

        overflow: auto;
    }

    footer {
        grid-area: foot;
        display: grid;
        justify-content: center;
    }

    #left-sidebar {
        grid-area: lsbar;
    }

    #middle {
        grid-area: mid;
        margin: 0px;
    }

    #right-sidebar {
        grid-area: rsbar;
    }

    .remove-row {
        font-size: 13px;
        border-radius: 10px;
        margin: 0px 5px;
        padding: 1px;
    }

    .remove-row:hover {
        box-shadow: 0px 0px 5px rgb(0, 0, 0);
    }

    .date {
        margin-right: 5px;
        height: 75%;
        width: 15px;
        font-size: 15px;
        border-radius: 5px;
    }

    .minus {
        font-size: 10px;
        height: 15px;
        width: 5px;
        margin-right: 3px;
    }

    .plus {
        font-size: 10px;
        height: 15px;
        width: 5px;
        margin-right: 3px;
    }
}

/** Breakpoint 3 **/
@media only screen and (min-height: 270px) and (max-height: 561px) {
    main {
        height: 30vw;
    }
}
