* {
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(218, 206, 141);

    display: grid;

    grid-template-areas:
    "head head head"
    "main main main"
    "foot foot foot";
}

header {
    grid-area: head;
    display: flex;
    justify-content: center;
}

main {
    height: 650px;
    border: 3px solid rgb(56, 215, 236);
    grid-area: main;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);

    grid-template-areas:
    "lsbar mid rsbar";

    overflow: auto;
}

footer {
    grid-area: foot;
    display: grid;
    justify-content: center;
}

button {
    border-radius: 10px;
}

button:hover {
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

#new-row {
    background-color: rgb(50, 233, 50);
    font-size: 15px;
    height: 70px;
    width: 70px;
}

#reset-page {
    background-color: rgb(253, 70, 70);
    font-size: 13px;
    height: 70px;
    width: 70px;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 50px;
    border-bottom: 3px solid magenta;
}

#left-sidebar {
    grid-area: lsbar;
}

#middle {
    grid-area: mid;
    margin: 0px;
}

#right-sidebar {
    grid-area: rsbar;
}

.remove-row {
    font-size: 16px;
    border-radius: 10px;
    margin: 0px 10px;
    padding: 1px;
}

.remove-row:hover {
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

::-webkit-calendar-picker-indicator {
    margin-left: -20px;
    padding: 0;
    background-color: rgb(217, 255, 0);
}

.date {
    margin-right: 10px;
    background-color: rgb(0, 59, 253);
    color: white;
    height: 75%;
    font-size: 15px;
    border-radius: 5px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.date:hover {
    background-color: rgb(104, 236, 241);
    color: black;
}

.minus {
    height: 15px;
    width: 8px;
    margin-right: 10px;
}

.plus {
    height: 15px;
    width: 8px;
    margin-right: 10px;
}

.rowM {
    overflow: auto;
}
